# =================================================================================================
# Search settings
# =================================================================================================
SEARCH_BINARY_PATH=../Search/main
SEARCH_DURATION_SECONDS=3600
SEARCH_SCALING_FACTOR=10.0

# =================================================================================================
# Request settings
# =================================================================================================
REQUEST_ATTEMPTS=10
REQUEST_TIMEOUT_SECONDS=30
REQUEST_ATTEMPT_DELAY_SECONDS=30

# =================================================================================================
# Request settings
# =================================================================================================
SERVER_PROTOCOL=http
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# =================================================================================================
# Client settings
# =================================================================================================
CLIENT_IDLE_CPU_CORES=1
CLIENT_NAME=Parker2-Client