# Ignore temporary docker files and directories
Server/Docker

# Ignore all environment files except example ones
.env*
!.env.example

# Ignore all temporary python files and directories
__venv__
__pycache__

# Ignore temporary build artifacts
Client/Search/Build
Client/Search/main