# PostgreSQL setting
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database

# Manager settings
MANAGER_HOST=manager
MANAGER_PORT=8000
MANAGER_PROCESSES=1