# =================================================================================================
# PostgreSQL settings
# =================================================================================================
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_DB=database

# =================================================================================================
# FastAPI settings
# =================================================================================================
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
FASTAPI_WORKERS=1