# PostgreSQL settings
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database

# Scheduler settings
SCHEDULER_HOST=0.0.0.0
SCHEDULER_PORT=8000
SCHEDULER_WORKERS=1 # Set it to 2 * CPU_CORES + 1 for a standalone server